<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>BlogHouse</title>
  <link rel="icon" href="Images/favicon.ico">
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://kit.fontawesome.com/11e1cc0b0b.js" crossorigin="anonymous"></script>
</head>

<body class="body">




  <section id="heading_of_page">
    <div class="container-fluid main-heading">
      <h1>BlogHouse</h1>
      <p>A House to store your Blogs</p>

      <div class="btn-group btn-group-sm button-part" role="group" aria-label="Basic mixed styles example">
        <form action="/login" method="get">
        <button type="submit" class="btn btn-info btn-sm" action="/login" style="background-color: #468cfe; border-color: #468cfe; border-top-right-radius: 0; border-bottom-right-radius: 0;"><i class="fas fa-sign-in-alt"></i> Login</button>
        </form>
        <form  action="/signup" method="get">
        <button type="submit" class="btn btn-dark btn-sm" action="/signup" style=" border-top-left-radius: 0; border-bottom-left-radius: 0;"><i class="fas fa-user-plus"></i> SignUp</button>
        </form>
      </div>
    </div>
  </section>





  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" id="navigation" aria-current="page" href="#">About Us</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="navigation" href="#">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="navigation" href="#">Contact Us</a>
  </nav>





  <section id="about_us">
    <div class="container-fluid about-us-area">
      <div class="row">
        <div class="col-md-6">
          <img src="Images/new_logo.png" class="icon-part rotate" alt="logo" height="400px" width="400px">
        </div>
        <div class="col-md-6 about-us-part">
          <p> <span style="font-size: 30px"><strong><em>BlogHouse</em></strong></span> is the only house where you can create and store your blogs. Creating blogs makes a person share their feelings with the world.
            So create as many blogs as you want on our website and share your thoughts with the world.</p>
        </div>
      </div>
    </div>
  </section>





  <div class="blank"></div>





  <section id="topics">
    <h1 class="categories-heading">Amazing Topics</h1>
    <div class="fluid-container">
      <div class="row">
        <div class="col-md-4 img-area-1">
          <div class="row">
            <div class="col-sm-12">
              <img src="Images/music.jpeg" alt="music" height="500px">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img src="Images/health.jpg" alt="health" height="210px" width="330px" style="margin-top: 2rem">
            </div>
          </div>
        </div>
        <div class="col-md-4 img-area-2">
          <img src="Images/food.jpg" alt="food" height="500px">
        </div>
        <div class="col-md-4 img-area-3">
          <div class="row">
            <div class="col-sm-12">
              <img src="Images/sports.jpg" alt="sports" height="210px" width="330px" style="margin-bottom: 2rem">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img src="Images/travel.jpg" alt="travel" height="500px">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>




  <div class="blank-1"></div>





  <section id="contact">
    <h1 class="contact-us-head">Get in Touch</h1>
    <div class="container-fluid contact-area">
      <div class="row">
        <div class="col-sm-6 mail" style="padding: 2rem 10rem">
          <form action="mailto:tshukla2001@gmail.com">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="mb-3">
              <textarea class="form-control" rows="2" cols="3" placeholder="Enter your thoughts"></textarea>
            </div>
            <div class="mb-3">
              <button class="btn btn-sm btn-primary" type="submit">Mail Us</button>
            </div>
          </form>

        </div>


        <div class="col-sm-6 my_details">
               <div class="container-fluid contact-details">
                 <div class="row">
                   <div class="col-sm-12">
                     <h6 class="contact-headings" style="margin-right: 5.7rem"> Email ID </h6> <p class="contact-values"> BlogHouse@gmail.com </p>
                   </div>

                 </div>
                 <div class="row">
                   <div class="col-sm-12">
                     <h6 class="contact-headings" style="margin-right: 5rem"> Contact No </h6> <p class="contact-values"> (+91) 9877878450 </p>
                   </div>

                 </div>
                 <div class="row">
                   <div class="col-sm-12">
                     <h6 class="contact-headings" style="margin-right: 5.8rem"> Address </h6> <p class="contact-values">Maker Maxity, 3, North Ave, Mumbai, <br />Maharashtra 400051</p>
                   </div>

                 </div>
                 <div class="row">
                   <div class="col-sm-12">
                     <i class="fab fa-facebook-square face-i" style="margin: 5rem 0 0 7rem; font-size: 2.5rem"></i>
                     <i class="fab fa-github-square git-i" style="margin: 5rem 0 0 2rem; font-size: 2.5rem"></i>
                     <i class="fab fa-google-plus-square gp-i" style="margin: 5rem 0 0 2rem; font-size: 2.5rem"></i>
                     <i class="fab fa-instagram-square insta-i" style="margin: 5rem 0 0 2rem; font-size: 2.5rem"></i>
                     <i class="fab fa-linkedin linkedin-i" style="margin: 5rem 0 0 2rem; font-size: 2.5rem"></i>
                   </div>

                 </div>
               </div>
             </div>





      </div>

    </div>
  </section>


  <footer>
   <p> All rights are reserved </p>
   <p> &copyCopyright <a href="/">BlogHouse</a> 2021 </p>

 </footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
