
<div class="container-fluid contact-area">
  <div class="row">
    <div class="col-sm-12 social-links">
      <i class="fab fa-facebook-square face-i" style="margin: 2rem 0 0 32.5rem; font-size: 2.5rem"></i>
      <i class="fab fa-github-square git-i" style="margin: 2rem 0 0 3rem; font-size: 2.5rem"></i>
      <i class="fab fa-google-plus-square gp-i" style="margin: 2rem 0 0 3rem; font-size: 2.5rem"></i>
      <i class="fab fa-instagram-square insta-i" style="margin: 2rem 0 0 3rem; font-size: 2.5rem"></i>
      <i class="fab fa-linkedin linkedin-i" style="margin: 2rem 0 0 3rem; font-size: 2.5rem"></i>
    </div>
  </div>
</div>


<footer>
  <p> All rights are reserved </p>
  <p> &copyCopyright <a href="/">BlogHouse</a> 2021 </p>

</footer>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
