<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>BlogHouse</title>
  <link rel="icon" href="Images/favicon.ico">
  <link rel="stylesheet" href="styles/pages.css">
  <link rel="stylesheet" href="styles/main.css">
  <script src="https://kit.fontawesome.com/11e1cc0b0b.js" crossorigin="anonymous"></script>
</head>

<body class="body">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="Images/new_logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allBlogs">Recent Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myBlogs">My Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/composeBlog">Compose</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head> -->
  <!-- Required meta tags -->
  <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BlogHouse</title>
  <link rel="icon" href="Images/favicon.ico">
  <link rel="stylesheet" href="styles/pages.css">
  <link rel="stylesheet" href="styles/main.css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" /> -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body class="body">
  <div class="ui inverted secondary menu">
    <div class="item" id="main-logo"><img src="Images/favicon.ico" alt=""><span class="main-title">BlogHouse</span></div>
    <div class="right menu nav-links">
      <a class="item" id="nav-items" href="/">
        Home
      </a>
      <a class="item" id="nav-items" href="/allBlogs">
        Recent Blogs
      </a>
      <a class="item" id="nav-items" href="/myBlogs">
        My Blogs
      </a>
      <a class="item" id="nav-items" href="/composeBlog">
        Compose
      </a>
      <a class="item" id="nav-items" href="/logout">
        Logout
      </a>
    </div>
  </div> -->
